/* This removes annoying default stylings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column;
  position: relative;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: white;
}

.content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

}

section {
  width: 80%;
  box-shadow: 0.25rem 0.25rem 0.5rem lightgray;

}

nav,
footer {
  font-family: "Caudex", serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  color: white;
  background-color: #0f084b;
}

footer {
  justify-content: space-around;
  flex-shrink: 0;
  width: 100%;
}

/* uncomment this for some interesting logo text changes
.logo {
  text-transform: lowercase;
  letter-spacing: 5px;
  font-size: 2rem;
}
*/
footer p {
  letter-spacing: 2px;
  font-size: 1.5rem;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li,
.social-links li {
  list-style: none;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 30%;
}

.social-links li a img {
  width: 80%;
  min-width: 2rem;
}

.content {
  flex-grow: 1;

}

.page-body-1, .page-body-2 {
  font-family: "Open Sans", sans-serif;
  background-color: #d4f5f5;
  color: #0d0221;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  margin: 0.75rem;
  
}


/*  uncomment this if you want 1rem to refer to 10px size
html {
    font-size: 62.5%;
    background-color: #eff7f6;
    background-color: #f7ece1;

}
*/
