/* This removes default stylings and sets css variables */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --accent-color: #ffbf00;
  --accent-color: rgb(255,191,0);
  --lighter-accent-color: rgb(255,241,78);
  --darker-accent-color: rgb(199,143,0);

  --main-bg-color: #24824a;
  --main-bg-color: rgb(36,130,74);
  --hover-bg-color: #248279;
  --hover-bg-color: rgb(36,130,121);
  --lighter-bg-color: rgb(89,178,118);
  --darker-bg-color: rgb(0,84,33);

  --plain-text-color: white;
  background-color: var(--accent-color);
  cursor: none;

}

body {
  display: flex;
  flex-flow: column;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--plain-text-color);
  cursor: none;
}

.content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

}

.cursor {
  width: 2rem;
  height: 2rem;
  border: 2px solid var(--plain-text-color);
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all .2s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  backdrop-filter: saturate(4);
  z-index: 3;

}

.cursor-active {
  transform: scale(1.5);
  backdrop-filter: saturate(5);
  opacity: 0.5;
}

/* The following code styles the header and footer of the page */

nav,
footer {
  font-family: "Caudex", serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  color: var(--main-bg-color);
  background-color: var(--accent-color);
}

footer {
  justify-content: space-around;
  flex-shrink: 0;
  width: 100%;
}

footer p {
  letter-spacing: 2px;
  font-size: 1.5rem;
}

.logo {
  margin: 1rem 0rem 0.5rem;
  overflow: hidden;
  transition-duration: 0.4s;
}

@keyframes image-embiggen {
  0%, 100% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.2) rotate(-20deg);
  }
  
}

.logo:hover {
  animation: image-embiggen 0.4s ease 0s 2;
}

#curr-link {
  background-color: var(--main-bg-color);
  border-radius: 2rem;
  transition: .6s ease-out;
}

#curr-link a {
  color: var(--accent-color);
}

#curr-link:hover {
  background-color: var(--hover-bg-color);
  border-radius: 0.6rem;

}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li {
  padding: 0.5rem;
  border-radius: 0.2rem;
  transition: .5s ease-out;
}

.nav-links li:hover {
  background-color: var(--main-bg-color);
  border-radius: 0.6rem;

}

.nav-links li a {
  color: var(--main-bg-color);
  padding: 0.5rem;
  transition: .5s ease;
}

.nav-links li a:hover {
  color: var(--accent-color);
}

.nav-links li,
.social-links li {
  list-style: none;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20%;
}

.social-links li a img {
  transition: .4s ease;
}

.social-links li a img:hover {
  transform: scale(1.2);
}

/*  uncomment this if you want 1rem to refer to 10px size
html {
    font-size: 62.5%;
}
*/
