.page-1-body {
    height: 100vh;
    width: 100%;
    background-color: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.poem {
    height: 80%;
    background: black;
    border-radius: 2rem;
    padding: 3rem;
    transition: .5s ease;

}

.poem:hover {
    transform: translate(1rem, -1rem);
    box-shadow: -0.4rem 0.4rem 1.2rem rgb(66, 66, 66);
}

.poem-title, .poem-body {
    color: var(--plain-text-color);
}

.poem-title {
    font-size: 2.5rem;
    font-family: "Caudex", serif;

}

.poem-body {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    height: 90%;
    justify-content: space-around;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;

}

.rhyme-b {
    transition: .5s ease;
    transform: translate(1rem);
}

.rhyme-b:hover {
    transform: translate(1.2rem);
}